
html, body {
  overflow: hidden;
}
#root {
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.active span {
  color: #3abaaa !important  ;
}
